.calculator { 
  .radio-group {
      margin-left: 1rem;
  }

  .sum-group {
      margin-left: 1rem;
  }

  .info-group {
      background-color: #FBF4DA;
      padding: 1rem 2rem 1rem 2rem;
  }

  .custom-input {
      border-radius: 1rem;
      border-width: 1px;
      border-style: solid;
      border-color: #BABABA;
      padding: 0.2rem 1rem;
      width: 150px;

  }

  .label-grey {
    font-size: 0.8rem;
    font-weight: 600;
    color: #BABABA;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .bold {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Custom-font-bold', sans-serif;
  }

  .currency {
    font-size: 0.8rem;
    margin-left: 5px;        
  }    

  // switcher
  .switch {
      position: relative;
      display: inline-block;
      width: 30px;
      height: 18px;
      margin: 0 0.5rem 0.5rem 0.5rem;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out //.4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; //.4s;
    }
    
    input:checked + .slider {
      background-color: #F9A336;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #F9A336;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(12px);
      -ms-transform: translateX(12px);
      transform: translateX(12px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 9px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
  }    